


    <div class="gh-card-link gh-card-box" >
        {{#if feature_image}}
            <figure class="gh-card-image">
                <a href="{{url}}">

  <img
                    srcset="{{img_url feature_image size="xs" format="webp"}} 160w,
                            {{img_url feature_image size="s" format="webp"}} 320w,
                            {{img_url feature_image size="m" format="webp"}} 600w,
                            {{img_url feature_image size="l" format="webp"}} 960w,
                            {{img_url feature_image size="xl" format="webp"}} 1200w,
                            {{img_url feature_image size="xxl" format="webp"}} 2000w"
                    sizes="{{#if imageSizes}}{{imageSizes}}{{else}}320px{{/if}}"
                    src="{{img_url feature_image size="m"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    {{#if lazyLoad}}loading="lazy"{{/if}}
                >

                </a>
              
            </figure>
        {{/if}}
        <div class="gh-card-wrapper">
{{#if primary_tag}}
    <a aria-label="{{primary_tag.name}}" class="gh-card-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
{{/if}}

            <h3 class="gh-card-title is-title"><a href="{{url}}">{{title}}</a></h3>
            {{#if excerpt}}
                <p class="gh-card-excerpt is-body">{{excerpt}}</p>
            {{/if}}
            <footer class="gh-card-meta">
                    <span class="gh-card-author">By {{#foreach authors}}{{#if @first}}   <a href="{{url}}">{{name}}</a>  {{else}},  <a href="{{url}}">{{name}}</a> {{/if}}{{/foreach}}</span>
               
            
                <div class="gh-card-date">{{date published_at format="MMMM DD, YYYY"}}</div>
              
         </footer>
        </div>
    </div>


