



      
{{#if @custom.tag_1}}


<div class="all-tag-area mt-20">
    <div class="container">
<div class="item-1">

    <h2 class="gh-container-title">
         {{@custom.tag_1}}
            </h2>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">
{{#get "posts"    filter="tag:{{@custom.tag_1}}" include="tags,authors" limit="all" }}{{#foreach posts}}
        {{> tag-grid-item}}   {{/foreach}} {{/get}}
        </div>
</div>
    </div>
    
</div>

{{/if}}
{{#if @custom.tag_2}}

<div class="all-tag-area mt-20">
    <div class="container">
<div class="item-1">

    <h2 class="gh-container-title">
         {{@custom.tag_2}}
            </h2>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">
{{#get "posts"    filter="tag:{{@custom.tag_2}}" include="tags,authors" limit="all" }}{{#foreach posts}}
        {{> tag-grid-item}}   {{/foreach}} {{/get}}
        </div>
</div>
    </div>
    
</div>
{{/if}}
{{#if @custom.tag_3}}

<div class="all-tag-area mt-20">
    <div class="container">
<div class="item-1">

    <h2 class="gh-container-title">
         {{@custom.tag_3}}
            </h2>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6">
{{#get "posts"    filter="tag:{{@custom.tag_3}}" include="tags,authors" limit="all" }}{{#foreach posts}}
        {{> tag-grid-item}}   {{/foreach}} {{/get}}
        </div>
</div>
    </div>
    
</div>

{{/if}}



<div class="hidden">
            <div> {{@custom.tag_1}}</div>
            <div> {{@custom.tag_2}}</div>
            <div> {{@custom.tag_3}}</div>
            </div>